$main-color = <%= MAIN_COLOR %>
$sub-color = <%= SUB_COLOR %>
$btn-text-color = <%= BTN_TEXT_COLOR %>
$title-color = <%= TITLE_COLOR %>
$hover-color = <%= HOVER_COLOR %>
$active-color = <%= ACTIVE_COLOR %>