$main-color = <%= MAIN_COLOR %>
$main-color-dark = <%= MAIN_COLOR_DARK %>
$sub-color = <%= SUB_COLOR %>
$sub-color-dark = <%= SUB_COLOR_DARK %>
$btn-text-color = <%= BTN_TEXT_COLOR %>
$title-color = <%= TITLE_COLOR %>
$title-color-dark = <%= TITLE_COLOR_DARK %>
$icon-active-color = <%= ICON_ACTIVE_COLOR %>
$hover-color = <%= HOVER_COLOR %>
$active-color = <%= ACTIVE_COLOR %>